<web-app>
<servlet>
<servlet-name>AdminLoginForm</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLoginForm</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LibrarianLoginForm</servlet-name>
<servlet-class>LibrarianLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LibrarianLoginForm</servlet-name>
<url-pattern>/LibrarianLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddLibrarianForm</servlet-name>
<servlet-class>AddLibrarian</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddLibrarianForm</servlet-name>
<url-pattern>/AddLibrarian</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DeleteLibrarianForm</servlet-name>
<servlet-class>DeleteLibrarian</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteLibrarianForm</servlet-name>
<url-pattern>/DeleteLibrarian</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddBooksForm</servlet-name>
<servlet-class>AddBooks</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddBooksForm</servlet-name>
<url-pattern>/AddBooks</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>IssueBooksForm</servlet-name>
<servlet-class>IssueBooks</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>IssueBooksForm</servlet-name>
<url-pattern>/IssueBooks</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ReturnBooksForm</servlet-name>
<servlet-class>ReturnBooks</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReturnBooksForm</servlet-name>
<url-pattern>/ReturnBooks</url-pattern>
</servlet-mapping>

</web-app>



